@page
@model Razor_Identity.Pages.RepairOrders.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var HiddenVar = "hidden";
}

<h1>Create</h1>

<h4>RepairOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairOrder.Status" class="control-label"></label>
                <select asp-for="RepairOrder.Status" class="form-control" asp-items="ViewBag.Statussen"></select>
                <span asp-validation-for="RepairOrder.Status" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="RepairOrder.Customer" class="control-label"></label>
        <select asp-for="RepairOrder.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
    </div>
    <div class="form-group">
        <label asp-for="RepairOrder.Employee" class="control-label"></label>
        <select asp-for="RepairOrder.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
    </div>
    -->
            <div class="form-group">
                <label asp-for="RepairOrder.BeginDate" class="control-label"></label>
                <input min="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="RepairOrder.BeginDate" class="form-control" asp-items="ViewBag.BeginDates" />
                <span asp-validation-for="RepairOrder.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.EndDate" class="control-label"></label>
                <input min="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="RepairOrder.EndDate" class="form-control" asp-items="ViewBag.EndDates" />
                <span asp-validation-for="RepairOrder.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.HoursWorked" class="control-label"></label>
                <input asp-for="RepairOrder.HoursWorked" class="form-control" asp-items="ViewBag.HoursWorked" min="0" />
                <span asp-validation-for="RepairOrder.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Description" class="control-label"></label>
                <textarea asp-for="RepairOrder.Description" class="form-control"></textarea>
                <span asp-validation-for="RepairOrder.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.WorkReport" class="control-label"></label>
                <textarea asp-for="RepairOrder.WorkReport" class="form-control"></textarea>
                <span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></span>
            </div>

            <script>
                $('#part1').on('change', function () {
                    if (this.value === "12345") {
                        $("#part2").hide();
                    } else {
                        $("#part2").show();
                    }
                });
            </script>

            <div class="input-group" id="part1">
                <span class="input-group-addon">Part 1 &nbsp;</span>
                <select asp-for="RepairOrder.PartID1" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="12345">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part1Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part1Quantity" class="text-danger"></span>
            </div>
            <div class="input-group" id="part2">
                <span class="input-group-addon">Part 2 &nbsp;</span>
                <select asp-for="RepairOrder.PartID2" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part2Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part2Quantity" class="text-danger"></span>
            </div>

            <div class="input-group">
                <span class="input-group-addon">Part 3 &nbsp;</span>
                <select asp-for="RepairOrder.PartID3" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part3Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part3Quantity" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Part 4 &nbsp;</span>
                <select asp-for="RepairOrder.PartID4" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part4Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part4Quantity" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Part 5 &nbsp;</span>
                <select asp-for="RepairOrder.PartID5" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part5Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part5Quantity" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Part 6 &nbsp;</span>
                <select asp-for="RepairOrder.PartID6" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part6Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part6Quantity" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Part 7 &nbsp;</span>
                <select asp-for="RepairOrder.PartID7" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part7Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part7Quantity" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Part 8 &nbsp;</span>
                <select asp-for="RepairOrder.PartID8" class="form-control" asp-items="ViewBag.PartID" style="width: 100px;">
                    <option disabled selected value="">Select Part</option>
                </select>
                <!--span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></!--span-->
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">&nbsp; Quantity &nbsp;</span>
                <input asp-for="RepairOrder.Part8Quantity" class="form-control" min="0"></>
                <span asp-validation-for="RepairOrder.Part8Quantity" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
